<main>
<div class="container">

  <div class="row mb-4 align-items-center">
    <div class="col-12">
      <h1 class="mb-4 text-left">Welcome {{user.username}} to your Dashboard</h1>
      <a href="/newpost" class="btn btn-primary text-right">Create a New Blog Post</a>
    </div>

  </div>

  {{#each posts}}
    <div class="post-container post mb-3 border p-3 rounded">
      <h2><a href="/editpost/{{id}}" class="text-decoration-none text-reset">{{title}}</a></h2>
      <p>{{content}}</p>
      <p class="text-muted">Created by: {{user.username}} | Date:{{createdAt}}</p>
      <div class="d-flex justify-content-start mt-2">
      </div>
    </div>
  {{/each}}
</div>
</main>
